
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profilim</h2>

<b>Ad: </b> Sercan
<br />
<b>Soyad: </b> KURBAN
<br />
<b>Eğitim Durumu: </b> Lisans
<br />
<b>Doğum Yeri: </b> İstanbul
<br />

